  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Dashboard</title>
      <link rel="stylesheet" href="../static/profile.css">
      <link rel="shortcut icon" type="image/jpg" href="../static/img3.jpg">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
      <body>
        
          <div class="navigation">
            <ul>
              <li>
                <a href="#">
                  <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                  <span class="title">Customer care Registry</span>
                </a>
              </li>
              <li>
                <a href="/profile">
                  <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                  <span class="title">Profile</span>
                </a>
              </li>
              <li>
                <a href="/view">
                  <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                  <span class="title">Complaint History</span>
                </a>
              </li>
              <li>
                <a href="/addcomplaint">
                  <span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
                  <span class="title">Lodge Complaint</span>
                </a>
              </li>
              <li>
                <a href="/logout">
                  <span class="icon"><ion-icon name="log-out-outline"></ion-icon>
                  </span>
                  <span class="title">Logout</span>
                </a>
              </li>
            </ul>
            <div class="toggle"></div>
          </div>
          <div class="float-container">
            <div class="float-child1">
              
              


            </div>
            <div class="float-child2">
              <div class="card">
                  <div class="lines"></div>
                  <div class="imgBx">
                      <img src="{{url_for('static',filename='avatar.jpg')}}">
                  </div>
                  <div class="content">
                      <div class="details">
                          <h2>{{ fullname }}<br><span>{{ email }}</span></h2>
                          <div class="data">
                              <h3>5<br><span>Complaints</span></h3>
                              <h3>4<br><span>Solved</span></h3>
                              <h3>1<br><span>Pending</span></h3>
                          </div>
                        
                      </div>
                  </div>
              </div>
            

            </div>
            

          </div>
        
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    let navigation=document.querySelector('.navigation');
    let toggle=document.querySelector('.toggle');
    toggle.onclick=function(){
      navigation.classList.toggle('active')
    }

  </script>
      </body>
  </html>
